@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
